/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.ml_masonry_prevent {
	display: block;
}
.ml_one_full .ml_masonry_prevent {
	float: left;
	height: 460px;
	width: 460px;
}
.ml_one_half .ml_masonry_prevent {
	height: 420px;
	width: 420px;
}
.ml_one_third .ml_masonry_prevent {
	height: 250px;
	width: 250px;
}
.ml_one_fourth .ml_masonry_prevent {
	height: 165px;
	width: 135px;
}
.ml_nivo-slider {
	background: #000 url(images/supersized/progress.gif) no-repeat center center;
	border: 2px solid #fff;
	display: block;
  position:relative;
	transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-webkit-transition: all 0.5s ease-in;
}
.single.ml_nivo-slider {
	margin-bottom: 64px;
}
.single.ml_nivo-slider:hover {
	border-color:#fff;
}
.ml_one_full .ml_nivo-slider {
	float: left;
	height: 456px;
	width: 456px;
}
.ml_one_half .ml_nivo-slider {
	height: 416px;
	width: 416px;
}
.ml_one_third .ml_nivo-slider {
	height: 246px;
	width: 246px;
}
.ml_one_fourth .ml_nivo-slider {
	height: 161px;
	width: 161px;
}
.ml_nivo-slider:hover {
	border-color:#000;
	transition: all 0.4s ease-out;
		-o-transition: all 0.4s ease-out;
		-moz-transition: all 0.4s ease-out;
		-webkit-transition: all 0.4s ease-out;
}
.ml_nivo-slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.ml_nivo-slider a {
    border:0;
    display:block;
}
.nivo-controlNav {
	position:absolute;
	bottom:-57px; /* Put the nav below the slider */
	left: -2px;
}
.nivo-controlNav a {
	border: 2px solid #000;
	float: left;
	margin-right: 5px;
	transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		-ms-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-webkit-transition: all 0.5s ease-in;
}
.nivo-controlNav a.active,
.nivo-controlNav a:hover {
	border-color: #fff;
	transition: all 0.4s ease-out;
		-o-transition: all 0.4s ease-out;
		-ms-transition: all 0.4s ease-out;
		-moz-transition: all 0.4s ease-out;
		-webkit-transition: all 0.4s ease-out;
}
.nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	float: left;
	position:relative;
}