
RewriteEngine on
RewriteCond %{HTTP_HOST} ^programas\.canterarincon\.com\.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www\.programas\.canterarincon\.com\.ar$
RewriteRule ^/?$ "http\:\/\/delain\.heroku\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^programas\.marmolestravertino\.com\.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www\.programas\.marmolestravertino\.com\.ar$
RewriteRule ^/?$ "http\:\/\/delain\.heroku\.com" [R=301,L]

