
RewriteEngine on
RewriteCond %{HTTP_HOST} ^delain\.canterarincon\.com\.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www\.delain\.canterarincon\.com\.ar$
RewriteRule ^/?$ "http\:\/\/delain\.heroku\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^delain\.marmolestravertino\.com\.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www\.delain\.marmolestravertino\.com\.ar$
RewriteRule ^/?$ "http\:\/\/delain\.heroku\.com" [R=301,L]

